.container {
  background-color: cadetblue;
  width: 100%;
}
.data {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items {
  background-color: rgb(240, 162, 162);
  width: 60%;
  border-radius: 30px;
  padding: 1em 1em 1em 3em;
  margin: 1em;
}
.title {
  text-align: center;
}
